.video {
    right: 0;
    bottom: 0;
    z-index: -10;
    width: 50%;
  text-align: center;
}
.image{
    height: 370px;
    width: 430px;
    margin-right:10px;
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.back{
    position: relative;
    top: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius:6px;
    background-color: rgba(255, 62, 62, 0.557);
    padding: 1.28%;
    font-weight: lighter;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: border-width 80ms linear 100ms;
}